[package]
name = "fb-core"
version = "0.1.0"
description = "Core library for the Ferris Boy Game Boy emulator."
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
categories.workspace = true
keywords.workspace = true
license-file.workspace = true
readme.workspace = true
repository.workspace = true

[lints]
workspace = true

[dependencies]

[dev-dependencies]
criterion = { workspace = true }

# Benchmarks (for local development)
# TODO: This is disabled until an actual implementation is in place so the history isn't polluted.
# [[bench]]
# name = "criterion_benches"
# harness = false
# test = false
