name: Lints

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  RUST_SCOPE: --all-targets --all-features
  RUST_DOC_SCOPE: --all-features

jobs:
  lint-check:
    runs-on: rust:1.89 # Also defined in workspace Cargo.toml

    strategy:
      matrix:
        toolchain:
          - stable
          - beta
          - nightly

    steps:
      - uses: actions/checkout@v4

      - name: Check lint
        run: ./scripts/lint-check.sh
